@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans);
/* layout style changes */
* {
  margin: 0;
  padding: 0;
  position: relative; }

body {
  font: 15pt "Alegreya Sans", sans-serif;
  line-height: 1.6;
  letter-spacing: 1px;
  background-color: #ebedef;
  color: #171717; }
  body a {
    color: white;
    text-decoration: none; }
  body a:hover, body a:focus {
    text-decoration: none; }

.blue {
  color: #144a80; }

.red {
  color: red; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #144a80; }

p {
  line-height: 1.5;
  font-size: 12pt;
  padding-bottom: 10px; }

/*  MAIN CONTENT STYLES */
#windermere-main-content {
  background-color: white;
  padding: 20px 0; }
  #windermere-main-content h1 {
    font-size: 34pt;
    padding-bottom: 10px; }
  #windermere-main-content #old-lady {
    width: 100%;
    border-radius: 4px; }
  #windermere-main-content .blue-well {
    border-radius: 4px;
    background-color: #144a80;
    font-size: 14pt;
    padding: 16px;
    color: white;
    margin-top: 30px;
    margin-bottom: 40px; }
  #windermere-main-content .caregiver-closing-invitation p, #windermere-main-content .caregiver-closing-invitation h5 {
    text-align: left; }
  #windermere-main-content .caregiver-closing-invitation h5 {
    font-weight: 700; }
  #windermere-main-content .caregiver-closing-invitation img {
    width: 100%;
    height: auto;
    border-radius: 4px; }
  #windermere-main-content .caregiver-closing-invitation a.btn {
    margin-top: 40px; }
  #windermere-main-content .right-side-info {
    padding-top: 40px; }
    #windermere-main-content .right-side-info ul {
      text-align: center;
      list-style-type: none;
      margin-bottom: 40px; }
      #windermere-main-content .right-side-info ul li {
        margin-bottom: 5px; }
    #windermere-main-content .right-side-info h4 {
      font-size: 28px;
      text-align: center; }
    #windermere-main-content .right-side-info .fine-print {
      font-size: 13px;
      text-align: center; }
      #windermere-main-content .right-side-info .fine-print a {
        color: #144a80; }
      #windermere-main-content .right-side-info .fine-print a:hover,
      #windermere-main-content .right-side-info .fine-print a:focus {
        color: #4f92c4; }
    #windermere-main-content .right-side-info #social-network {
      margin-top: 30px;
      margin-left: 45%;
      list-style-type: none; }
      #windermere-main-content .right-side-info #social-network li {
        float: left;
        margin: 10px 4px; }
      #windermere-main-content .right-side-info #social-network img {
        opacity: 0.50;
        height: 40px;
        width: auto;
        transition: all 250ms ease-in-out; }
      #windermere-main-content .right-side-info #social-network img:hover {
        opacity: 1; }

/* Navbar Styles and Backgrounds */
#nav-box {
  background: white url(../img/hero.jpg) center -270px no-repeat;
  background-size: cover;
  padding-top: 25px;
  height: 270px;
  font-size: 18pt;
  text-transform: uppercase; }
  #nav-box img#windermere-logo {
    width: 65%; }
  #nav-box .contact-info {
    font-color: #171717;
    text-transform: uppercase;
    font-size: 20pt;
    text-align: right; }
    #nav-box .contact-info ul {
      padding-top: 60px;
      list-style-type: none;
      font-weight: 900; }
      #nav-box .contact-info ul li {
        line-height: 1.2em; }
  #nav-box .windermere-navbar {
    text-align: center;
    margin-top: 10px; }
    #nav-box .windermere-navbar ul {
      margin-top: 17px;
      font-size: 10pt;
      font-weight: 600;
      list-style-type: none;
      -webkit-padding-start: 0; }
      #nav-box .windermere-navbar ul li {
        display: inline-block;
        padding: 0 20px; }
      #nav-box .windermere-navbar ul a {
        color: #171717; }

/* HEADING STYLES */
#header-contact-info {
  height: 85px;
  background-color: #144a80;
  border-bottom: 10px solid #4f92c4;
  color: white; }
  #header-contact-info #header-phone {
    text-align: right;
    padding: 18px 0; }
  #header-contact-info #header-social {
    padding: 16px 0; }
    #header-contact-info #header-social ul {
      list-style-type: none; }
      #header-contact-info #header-social ul li {
        padding-right: 10px;
        display: inline-block; }
    #header-contact-info #header-social .fa-facebook-official:hover,
    #header-contact-info #header-social .fa-facebook-official:focus {
      color: #1c69b5; }
    #header-contact-info #header-social .fa-twitter:hover,
    #header-contact-info #header-social .fa-twitter:focus {
      color: #9cc1de; }

form {
  font-weight: bold; }
  form .fg-padding {
    padding-bottom: 25px; }
  form label {
    font-size: 12pt; }
  form input, form textarea {
    background-color: #ebedef;
    color: #171717;
    font-size: 10pt;
    width: 100%;
    height: 35px;
    border-radius: 4px;
    border: 0; }
  form textarea {
    padding: 10px;
    height: auto;
    margin: 0; }
  form ::-webkit-input-placeholder {
    color: #171717; }
  form ::-moz-input-placeholder {
    color: #171717; }

/* FOOTER STYLES */
footer {
  background-color: #144a80;
  min-height: 400px;
  color: white; }
  footer section {
    margin: 40px auto 40px auto; }
  footer h4 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: white; }
  footer ul {
    list-style-type: none;
    text-align: left; }
    footer ul li a {
      color: white;
      font-size: 10pt;
      font-weight: bold; }
    footer ul li a:hover,
    footer ul li a:focus {
      color: #4f92c4; }
  footer .footer-menu-categories ul {
    margin-left: 90px; }
    footer .footer-menu-categories ul li a {
      font-weight: bold; }
  footer ul.footer-submenu {
    margin-left: 30px; }
    footer ul.footer-submenu li::before {
      content: "- "; }

/* ANY BUTTON STYLES GO HERE */
.btn {
  border-radius: 4px;
  background-color: #144a80;
  text-decoration: none;
  font-size: 12pt;
  font-weight: bold;
  padding: 10px 20px;
  color: white; }

.btn:hover, .btn:focus {
  background-color: #4f92c4;
  color: white; }

.btn-right-nav {
  font-size: 24px;
  padding: 5px 20px;
  display: block;
  background-color: #144a80;
  color: white;
  font-weight: normal;
  text-align: center;
  border-radius: 4px; }

.btn-right-nav:hover,
.btn.right-nav:focus {
  color: white;
  background-color: #4f92c4; }

a.btn-submit {
  border-radius: 4px;
  background-color: #144a80;
  font-size: 11pt;
  font-weight: 400;
  padding: 12px 60px;
  margin: 20px 0; }

a.btn-submit:hover,
a.btn-submit:focus {
  background-color: #4f92c4;
  color: white; }
