/* ANY BUTTON STYLES GO HERE */

.btn {
    border-radius: $border-radius;
    background-color: $color-one;
    text-decoration: none;
    font-size: 12pt;
    font-weight: bold;
    padding: 10px 20px;
    color: $white;
}

.btn:hover, .btn:focus {
    background-color: $color-two;
    color: $white;
}

.btn-right-nav {
    font-size: 24px;
    padding: 5px 20px;
    display: block;
    background-color: $color-one;
    color: $white;
    font-weight: normal;
    text-align: center;
    border-radius: $border-radius;
}

.btn-right-nav:hover, 
.btn.right-nav:focus {
    color: $white;
    background-color: $color-two;
}