/* FOOTER STYLES */

footer {
    background-color: $color-one;
    min-height: 400px;
    color: $white;
    
    section {
        margin: 40px auto 40px auto;
    }
    
    h4 {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        color: $white;
    }
    
    ul {
        list-style-type: none;
        text-align: left;
        
        li a {
            color: $white;
            font-size: 10pt;
            font-weight: bold;
        }
        
        li a:hover,
        li a:focus {
            color: $color-two;
        }
    }
    
    .footer-menu-categories {
        ul {
            margin-left: 90px;
            
            li a {
                font-weight: bold;
            }
        }
    }
    
    ul.footer-submenu {
        margin-left: 30px;
        
        li::before {
            content: "- ";
        }
    }
}