/* HEADING STYLES */

#header-contact-info {
    min-height: 85px;
    background-color: $color-one;
    border-bottom: 10px solid $color-two;
    color: $white;
    
    #header-phone {
        text-align: right;
        padding: 18px 0;
        margin-left: 40px;
    }
    
    #header-social {
        padding: 16px 0;

        
        ul {
            list-style-type: none;
            
            li {
                padding-right: 10px;
                display: inline-block;
            }
        }
        
        .fa-facebook-official:hover,
        .fa-facebook-official:focus {
            color: lighten($color-one, 12%);
        }
        
        .fa-twitter:hover, 
        .fa-twitter:focus {
            color: lighten($color-two, 20%);
        }
    }
}