/*  MAIN CONTENT STYLES */
#windermere-main-content {
    background-color: $white;
    padding: 20px 0;
    
    h1 {
        font-size: 34pt;
        padding-bottom: 10px;
    }
    
    #old-lady {
        width: 100%;
        border-radius: $border-radius;
    }
    
    .blue-well {
        border-radius: $border-radius;
        background-color: $color-one;
        font-size: 14pt;
        padding: 16px;
        color: $white;
        margin-top: 30px;
        margin-bottom: 40px;
    }
    
    .caregiver-closing-invitation {
        
        p, h5 {
            text-align: left;
        }
        
        h5 {
            
            font-weight: 700;
        }
        
        img {
            width: 100%;
            height: auto;
            border-radius: $border-radius;
        }
        
        a.btn {
            margin-top: 40px;
        }
    }
    
    .right-side-info {
        padding-top: 40px;
        
        ul {
            text-align: center;
            list-style-type: none;
            margin-bottom: 40px;
            
            li {
                margin-bottom: 5px;
            }
        }
        
        h4 {
            font-size: 28px;
            text-align: center;
            
        }
        
        .fine-print {
            font-size: 13px;
            text-align: center;
            
            a {
                color: $color-one;
            }
            
            a:hover,
            a:focus {
                color: $color-two;
            }
        }
        
        #social-network {
            margin-top: 30px;
            margin-left: 45%;
            list-style-type: none;
            
            li {
                float: left;
                margin: 10px 4px;
            }
            
            img {
                opacity: 0.50;
                height: 40px;
                width: auto;
                transition: all 250ms ease-in-out;
            }
            
            img:hover {
                opacity: 1;
            }
        }
    }
    
}
