/* MEDIA QUERIES FOR MOBILE DEVELOPMENT */

/* MEDIA QUERIES FOR THE SMALLEST OF DEVICES */
@media only screen and (max-width: 768px) {
    
    #header-contact-info {
    
        #header-phone {
            text-align: center;
        }
    }
    
    #nav-box {
        background: $white url(../img/hero.jpg) center center no-repeat;
        background-size: cover;
        min-height: 400px;
        
        img#windermere-logo {
            width: 300px;
            margin: 0 auto;
            padding: 0;
        }
        
        .contact-info {
            font-weight: bold;
            text-align: center;
            background-color: transparentize($white, .70);
            border-radius: $border-radius;
            margin-top: 10px;
            
            ul {
                padding-top: 0;
            }
        }
        
    }
    
    #windermere-main-content {
        margin-top: 0;
    }
    
    .left-side-info {
        padding: 15px;
        
    }
    
    .caregiver-closing-invitation {
        img {
            float: none;
            height: 378px;
            width: auto;
            margin: 0 auto 10px auto;
        }
    }
    
    .footer-copyrighting {
        ul{
            li {
                float: none;
                padding: 10px 0;
                
            }
        }
    }    
    
}

/*MEDIA QUERIES FOR THE SMALL DEVICES */
@media only screen and (max-width: 992px) {
    
    #nav-box {
        background: $white url(../img/hero.jpg) center center no-repeat;
        background-size: cover;
        height: 340px;
        
        img#windermere-logo {
            width: 300px;
            height: auto;
            margin: 0 auto;
        }
        
        #windermere-main-content {
        margin-top: 12px;
        }
        
        .contact-info {
            font-weight: bold;
            text-align: center;
            background-color: transparentize($white, .70);
            border-radius: $border-radius;
            margin-top: 10px;
            padding-right: 40px;
            
            ul {
                padding-top: 0;
            }
        }
        
    }
}