/* Navbar Styles and Backgrounds */

#nav-box {
    background: $white url(../img/hero.jpg) center -270px no-repeat;
    background-size: cover;
    padding-top: 25px;
    height: 290px;
    font-size: 18pt;
    text-transform: uppercase;
    
    img#windermere-logo {
        width: 300px;
    }
    
    .contact-info {
        font-color: $black;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 20pt;
        text-align: right;
        
        ul {
            padding-top: 60px;
            list-style-type: none;
            
            li {
               line-height: 1.2em; 
            }
        }
    }
    
    .windermere-navbar {
        text-align: center;
        ul#main-navbar {
           /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+99&0+0,0.6+40,0.6+62,0+100 */
            background: -moz-linear-gradient(left,  hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0.6) 40%, hsla(0,0%,100%,0.6) 62%, hsla(0,0%,100%,0.02) 99%, hsla(0,0%,100%,0) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left,  hsla(0,0%,100%,0) 0%,hsla(0,0%,100%,0.6) 40%,hsla(0,0%,100%,0.6) 62%,hsla(0,0%,100%,0.02) 99%,hsla(0,0%,100%,0) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right,  hsla(0,0%,100%,0) 0%,hsla(0,0%,100%,0.6) 40%,hsla(0,0%,100%,0.6) 62%,hsla(0,0%,100%,0.02) 99%,hsla(0,0%,100%,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
            padding: 9px 16px;
            margin-top: 34px;
            font-size: 12pt;
            font-weight: 700;
            list-style-type: none;
            -webkit-padding-start: 0;
            
            li {
                display: inline-block;   
            }
            
            .fa-chevron-down {
                color: $color-two; 
            }
            
            a {
                color: $black;
                padding: 12px 18px;
            }
            
            a:hover,
            a:focus {
                background-color: $color-one;
                color: $white;
            }
        }
        
        .dropdown-menu {
            background-color: $color-one;
            color: $white;
            width: auto;
            padding: 0;
            top: 26px;
            left: 8px;
            -webkit-padding-start: 0;
    
            a {
                color: $white !important;
                padding: 15px 25px !important;
                font-weight: bold !important;
            }
            
            a:hover,
            a:focus {
                background-color: $color-two !important;
            }
            
            li {
                width: 100%;
                border-top: 1px solid $white;
                border-bottom: 1px solid $white;
            }
        } 
    }
    
}