// Template Colors
$color-one: hsl(210, 73%, 29%);
$white: hsl(0, 100%, 100%);
$black: hsl(0, 0%, 9%);

// Font styles
$font: 'Alegreya Sans', sans-serif; 

//Padding Styles

//Radius defaults
$border-radius: 4px;